<header>
    <input type="checkbox" id="check">
    <label class="hamburger" for="check">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </label>
    <section class="titulo">
        <h1><span class="tcard">CARD</span><span class="tnation">NATION</span></h1>
    </section>
    <nav>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="../productos.html">Productos</a></li>
            <li><a href="../acerca.html">Sobre Nosotros</a></li>
            <li><a href="../contactanos.html">Contáctenos</a></li>
        </ul>
    </nav>
    <nav class="menu-ham">
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="../productos.html">Productos</a></li>
            <li><a href="../acerca">Sobre Nosotros</a></li>
            <li><a href="../contactanos.html">Contáctenos</a></li>
            <li><a href="../ayudar">Cómo Ayudar</a></li>
            <li><a href="../galeria.html">Galería</a></li>
            <li><a href="../blog.html">Blog</a></li>
            <li><a href="../eventos.html">Eventos</a></li>
            <li><a href="../donaciones.html">Página de donaciones</a></li>
            <li><a href="../preguntas.html">Preguntas frecuentes</a></li>
        </ul>
    </nav>
</header>