<section class="cardis">
    <div class="tituloPregs">
        <h2>Preguntas Frecuentes</h2>
    </div>
    {{#each preguntas}}
    <div class="carde">
        <h2>{{titulo}}</h2>
        <p>{{des}}</p>
    </div>
    {{/each}}
</section>