<section class="cards">
    <div class="tituloProds">
        <h2>NUESTROS PRODUCTOS</h2>
    </div>
    {{#each productos}}
    <div class="card">
        <img src="{{url}}" alt="{{titulo}}" />
        <h2>{{titulo}}</h2>
        <p>{{des}}</p>
    </div>
    {{/each}}
</section>